.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 350px;
  border-radius: 2%;
  background-color: white;
}

.separator {
  margin: 30px;
  width: 100px;
  height: 2px;
  background-color: green;
}

.p {
  padding-right: 10px;
}

.li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6EEEF;
  padding: 10px 15px;
  margin: 10px 5px;
  border-radius: 2%;
}

.button {
  height: 25px;
  border: 1px solid #469E86;
  border-radius: 10%;
  background-color: #469E86;
  color: white
}
