.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 350px;
    border-radius: 2%;
    background-color: white;
}

.input {
    width: 90%;
    height: 10%;
    border: 0px solid rgba(237, 233, 233, 0.92);
    border-radius: 2%;
    margin-top: 10px;
    background-color: rgba(237, 233, 233, 0.92);
}

.button {
    margin-top: 100px;
    width: 90%;
    height: 10%;;
    background-color: #469E86;
    border: #469E86 ;
    border-radius: 5px;
    color: white;
}